/* CSS */

div {
    margin: 90px;
}

.searchbox {
    border-radius: 5px;
    border: 2px solid;
    height: 45px;
    
    width: 300px;
    padding: 20px;
}

.pagination{
    margin-left: 380px;
}

.toplist{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

table {
    width: 500px;
    margin-left: 10px;
    border-collapse: collapse;
    border-color: transparent;
}
th{
    background-color: gray;
}
tr:nth-child(even) { 
    background-color: lightgray; 
} 

/* CSS */

/* --- css variables --- */
/* CSS */

:root {
    --black: #041a2f;
    --white: #ffffff;
    --primary: #ff69ad;
    --font-family: "Montserrat", "Open Sans", sans-serif;
    --max-width: 992px;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Montserrat:400|Montserrat:500|Montserrat:700);
  
  
  /* config */
  
  
  .button {
    position: relative;
    border: 0;
    transition: 0.5s;
    z-index: 1;
    
    padding: 1rem 2rem;
    font-size: 0.875rem;
    line-height: 1;
    font-family: var(--font-family);
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--black);
    color: var(--white);
  }
  
  .button.--pulse:hover {
    animation: pulse 2s infinite;
  }
  
  /* animations */
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 var(--black);
    }
    50% {
      box-shadow: 0px 0px 10px var(--black);
    }
    100% {
      box-shadow: 0 0 0 var(--black);
    }
  }
  